private-key
eks-terraform-key.pem

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which might contain sensitive data
# Except the ones you specifically want to include
# *.tfvars
# *.tfvars.json

# Ignore override files as they're usually used for local dev
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# SSH Keys
private-key/
*.pem

# Local exec output files
local-exec-output-files/

# OS specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Backup files
*.bak

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
